<button class="btn btn-sm"
        ng-class="{ 'disabled': $ctrl.isSubmitting,
             'btn-primary': $ctrl.article.favorited }"
        ng-click="$ctrl.submit()">

    <i class="ion-heart feed-color"></i>
    <ng-transclude></ng-transclude>

</button>