<footer>
  <div class="container">
    <a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName | lowercase"></a>
    <span class="attribution">
      &copy; {{::$ctrl.date | date:'yyyy'}}.
      Bachelor thesis by:  <a href="https://www.linkedin.com/in/muresan-vladut-673696110?trk=hp-identity-name">Vladut Muresan</a>.
    </span>
  </div>
</footer>
