<nav class="navbar navbar-light">
    <div class="container">

        <a class="navbar-brand"
           ui-sref="app.home"
           ng-bind="::$ctrl.appName | lowercase">
        </a>

        <!-- Show this for logged out users -->
        <ul class="nav navbar-nav pull-xs-right" show-authed="false">

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.home">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.register">
                    Sign up
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.login">
                    Sign in
                </a>
            </li>

        </ul>

        <!-- Show this for logged in users -->
        <ul show-authed="true"
            class="nav navbar-nav pull-xs-right">

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.home">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.editor">
                    <i class="ion-compose"></i>&nbsp;New Article
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.settings">
                    <i class="ion-gear-a"></i>&nbsp;Settings
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.profile.main({ username: $ctrl._currentUser.username })">
                    <img ng-src="{{$ctrl._currentUser.image}}" class="user-pic"/>
                    {{ $ctrl._currentUser.username }}
                </a>
            </li>



        </ul>


    </div>
</nav>
