<div class="profile-page">

  <!-- User's basic info & action buttons -->
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">

          <img ng-src="{{::$ctrl._profile.image}}" class="user-img" />
          <h4 ng-bind="::$ctrl._profile.username"></h4>

          <p class="feed-color" ng-bind="::$ctrl._profile.bio"></p>
          <follow-btn user="$ctrl._profile" ng-hide="$ctrl.isUser"></follow-btn>
          <a ui-sref="app.settings"
                         class="btn btn-sm btn-outline-secondary action-btn"
                         ng-show="$ctrl.isUser">
                        <i class="ion-gear-a"></i> Edit Profile Settings
                      </a>

        </div>
      </div>
    </div>
  </div>

  <!-- Container where User's posts & favs are list w/ toggle tabs -->
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">

        <!-- Tabs for switching between author articles & favorites -->
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item">
              <a class="nav-link" ui-sref-active="active" ui-sref="app.profile.main({username: $ctrl._profile.username})">
                <span class="feed-color">My Articles</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" ui-sref-active="active" ui-sref="app.profile.favorites({username: $ctrl._profile.username})">
                <span class="feed-color">Favorited Articles</span>
              </a>
            </li>

          </ul>
        </div>

        <div ui-view></div>

      </div>

    <!-- End row & container divs -->
    </div>
  </div>

</div>
