<div class="home-page">

    <div class="container page">
        <div class="row">


            <!-- Main view - contains tabs & article list -->
            <div class="col-md-9">
                <!-- Tabs for toggling between feed, article lists -->
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">

                        <li class="nav-item" show-authed="true">
                            <a href="" class="nav-link"
                                ng-class="{active: $ctrl.listConfig.type === 'feed'}"
                                ng-click="$ctrl.changeList({type: 'feed'})">
                                <span class="feed-color">Your Feed</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link"
                                ng-class="{active: $ctrl.listConfig.type === 'all'}"
                                ng-click="$ctrl.changeList({type: 'all'})">
                                <span class="feed-color">Global Feed</span>
                            </a>
                        </li>

                        <li class="nav-item" ng-show="$ctrl.listConfig.filters.tag">
                            <a href="" class="nav-link active">
                                <i class="ion-pound feed-color"></i> <span class="feed-color">{{$ctrl.listConfig.filters.tag}}</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- List the current articles -->
                <article-list limit="10" list-config="$ctrl.listConfig"></article-list>

            </div>

            <!-- Sidebar where popular tags are listed -->
            <div class="col-md-3">
                <div class="sidebar">
                    <p ng-show="$ctrl.recommendationsLoaded && $ctrl.recommendations.length !==0">Articles Suggestion</p>

                    <div class="tag-list" ng-show="$ctrl.recommendationsLoaded && $ctrl.recommendations.length !==0">
                        <a class="tag-default tag-pill"
                           ng-repeat="article in $ctrl.recommendations"
                           ui-sref="app.article({ slug: article.slug })"
                        >
                            {{article.title}}
                        </a>
                    </div>

                    <p>Latest Comments</p>

                    <div class="tag-list" ng-show="$ctrl.comments">
                        <a class="tag-default tag-pill"
                           ng-repeat="comment in $ctrl.comments"
                           ui-sref="app.article({ slug: comment.article.slug })"
                        >
                            {{comment.author.username}} posted on article: {{comment.article.title}}
                        </a>
                    </div>

                    <div ng-show="!$ctrl.commentsLoaded">
                        Loading Comments
                    </div>

                    <div class="post-preview" ng-show="$ctrl.commentsLoaded && !$ctrl.comments.length">
                        No comments are here... yet.
                    </div>



                    <p>Popular Tags</p>

                    <div class="tag-list" ng-show="$ctrl.tags">
                        <a href="" class="tag-default tag-pill"
                           ng-click="$ctrl.changeList({type: 'all', filters: {tag: tagName}})"
                           ng-repeat="tagName in $ctrl.tags"
                           ng-bind="tagName"></a>
                    </div>

                    <div ng-show="!$ctrl.tagsLoaded">
                        Loading tags
                    </div>

                    <div class="post-preview" ng-show="$ctrl.tagsLoaded && !$ctrl.tags.length">
                        No tags are here... yet.
                    </div>
                </div>
            </div>

            <!-- End the row & container divs -->
        </div>
    </div>

</div>
